body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 97vh;
  width: 95vw;
  background-color: lavender;
}

.sec-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: indianred;
  height: 50vh;
  width: 50vw;
}

.title {
  font-size: 65px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 40px;
}

.bold{
    font-weight: bold;
    margin: 0;
    padding: 0 4px;
}

.instructions {
    display: inline-flex;
    flex-wrap: wrap;
    font-size: 15px;
    text-align: center;
}
